.app__stats {
  margin: 0rem 1rem 1rem;
}

.infoCard {
  padding: 0.25rem 1rem;
  flex: 0.18;
  margin-right: 12px;

  &:nth-child(5) {
    margin-right: 0;
  }
}

.infoCard__title {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
  font-size: 18px;
  font-weight: 700;
}

.infoCard__plus {
  color: #cc1034;
  font-size: 22px;
  margin-top: 15px;
}

.infoCard__total {
  color: #6c757d;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}
